body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF9F6  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: auto;
  padding: 20px;
}

#tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 500;
  padding: 8px;
  color: #333;
  z-index: 9999;
}
xw
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.text-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 8px;
  text-align: center; /* Start the text from the center */
}

.text-wrapper span {
  width: 100%;
  word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
}

.node {
  cursor: pointer;
}