.ingredient-select-container {
    display: flex; /* Set display to flex */
  }
  
  .ingredient-select-category {
    margin-right: 20px; /* Add margin between categories */
  }
  
  .ingredient-select {
    width: 200px; /* Set a fixed width for the select boxes */
  }
  